<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>bookServlet</servlet-name>
        <servlet-class>com.example.rest.servlet.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bookServlet</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>genreServlet</servlet-name>
        <servlet-class>com.example.rest.servlet.GenreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>genreServlet</servlet-name>
        <url-pattern>/genre</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>authorServlet</servlet-name>
        <servlet-class>com.example.rest.servlet.AuthorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authorServlet</servlet-name>
        <url-pattern>/author</url-pattern>
    </servlet-mapping>

</web-app>